schedules:
  - cron: "0 2 * * Sun"
    displayName: Weekly
    branches:
      include:
        - master
        - main
    always: yes

jobs:
  - job: L
    pool:
      vmImage: ubuntu-20.04
    strategy:
      matrix:
        CentOS 6:
          MOLECULE_DISTRIBUTION: centos6
        CentOS 7:
          MOLECULE_DISTRIBUTION: centos7
        CentOS 8:
          MOLECULE_DISTRIBUTION: centos8

    steps:
      - checkout: self
        path: firewall

      - script: |
          set -eux
          export PATH=/home/vsts/.local/bin:$PATH
          sudo apt remove -y ansible
          pip install molecule==3.0.8 docker yamllint ansible-lint ansible
          ansible-galaxy install -n -r molecule/default/requirements.yml
          molecule test
        displayName: Molecule

  - job: macOS
    displayName: Test macOS
    pool:
      vmImage: macOS-10.14
    steps:
      - checkout: self
        path: firewall

      - script: |
          pip install ansible-base
          ansible-galaxy install -n -r molecule/default/requirements.yml
          ansible --version
          cd ../
          ansible-playbook -i localhost, -c local firewall/molecule/default/converge.yml
