pool:
  vmImage: ubuntu-20.04

variables:
  ROLE_NAME: firewall

strategy:
  matrix:
    centos6:
      MOLECULE_DISTRIBUTION: centos6
    centos7:
      MOLECULE_DISTRIBUTION: centos7
    centos8:
      MOLECULE_DISTRIBUTION: centos8
    debian8:
      MOLECULE_DISTRIBUTION: debian8
    debian9:
      MOLECULE_DISTRIBUTION: debian9
    debian10:
      MOLECULE_DISTRIBUTION: debian10

steps:
  - script: |
      pip3 install molecule[lint]==3.0.6 docker
      cd ../
      mv ansible-role-$ROLE_NAME $ROLE_NAME
      cd $ROLE_NAME
      molecule test
